
<h1> <center> Trade data analysis: Canada exports and imports - Part 2 </center> </h1>
<p style="color:black;font-size:18px;"> Part 2 of the analysis on the <a href="https://open.canada.ca/data/en/dataset/c2231d1e-0b04-4c8c-9d36-46f67cece549" target="_top"> Public dataset> </a> on merchandise imports and exports from Canadian provinces to the United states. </p>

In [13]:
import numpy as np
import pandas as pd
import os
import datetime
from matplotlib import pyplot as plt
from matplotlib.legend import Legend
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
import requests, zipfile, io

%matplotlib inline
%reload_ext autoreload

In [14]:
# load data
data_uri_zip = "https://www150.statcan.gc.ca/n1/tbl/csv/12100099-eng.zip"
datafile = "12100099.csv"
usecols = ["REF_DATE","GEO","Trade","United States","Harmonized System (HS) Sections","VALUE"]
nrows = 1000
r = requests.get(data_uri_zip, stream=True)
with zipfile.ZipFile(io.BytesIO(r.content)) as z:
    with z.open(datafile) as f:
        df = pd.read_csv(f, header=0,usecols=usecols)

In [15]:
# preprocessing step 1
# Change columns names to simple ones
old_colnames = ["REF_DATE","GEO","Trade","United States","Harmonized System (HS) Sections","VALUE"]
new_colnames = ["Date","Canada","Trade","USA","HS","Value"]
df.rename(columns = dict(zip(old_colnames,new_colnames)),inplace=True)

In [16]:
# convert "REF_DATE" to datetime object
df["Date"] = pd.to_datetime(df["Date"])
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year
# conver value to millions
df["Value"] = df["Value"]/1E6

In [17]:
df.head()

,Date,Canada,Trade,USA,HS,Value,Month,Year
0,1990-01-01,Canada,Total exports,Total United States,Total Harmonized System (HS) sections,8.462567,1,1990
1,1990-01-01,Canada,Total exports,Total United States,I - Live animals and animal products,0.211653,1,1990
2,1990-01-01,Canada,Total exports,Total United States,II - Vegetable products,0.082447,1,1990
3,1990-01-01,Canada,Total exports,Total United States,III - Animal or vegetable fats and oils and th...,0.006821,1,1990
4,1990-01-01,Canada,Total exports,Total United States,"IV - Prepared foodstuffs, beverages, spirits a...",0.138902,1,1990